.vs/
**/bin/
**/obj/
*.user
*.suo
UBB-SE-2026-Hospital/Hospital.Web/appsettings.json
UBB-SE-2026-Hospital/Hospital.API/appsettings.json
UBB-SE-2026-Hospital/Hospital.API/appsettings.json
UBB-SE-2026-Hospital/Hospital.API/appsettings.json
UBB-SE-2026-Hospital/Hospital.Web/appsettings.json
